.App {
  text-align: center;
  background-image: url(../../../public/assets/filmstrip_PNG59.png);
  background-repeat: no-repeat;
  background-size: 95vmax;
  background-position: top;
}

h1 {
  border: 0;
  margin: 0;
  padding: 20px;
}